<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">

<meta name="keywords" content="WebRTC, Japan, Meetup, Community">
<meta name="description" content="WebRTCに関する日本国内の様々なアクティビティを紹介します。">

<!-- FB -->
<meta property="og:title" content="webrtcjp.info">
<meta property="og:description" content="WebRTCに関する日本国内の様々なアクティビティを紹介します。">
<meta property="og:url" content="http://webrtcjp.info/">
<meta property="og:type" content="website">
<meta property="og:image" content="http://webrtcjp.info/assets/images/webrtclog.png">

<!-- Tw -->
<meta name="twitter:site" content="@webrtcjp">
<meta name="twitter:title" content="webrtcjp.info">
<meta name="twitter:description" content="WebRTCに関する日本国内の様々なアクティビティを紹介します。">
<meta name="twitter:image:src" content="http://webrtcjp.info/assets/images/webrtclog.png">

<title>{{ page.title }}</title>

<link rel="shortcut icon" href="assets/images/favicon.png">
<link rel="stylesheet" href="/assets/stylesheets/styles.css">
<link rel="stylesheet" href="/assets/stylesheets/pygment_trac.css">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">


<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
